* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 0.9rem sans-serif;
}

.container {
    max-width: 1300px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 100px;
    padding-bottom: 25px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    margin-left:80px ;
}
.btn {
    outline: none;
    padding: 20px 7%;
    border-radius: 20px;
    border: none;
    width: 250px;
    background-color: white;
    color: #3AB4D1;
    font-size: larger;
    border: 1px solid #3AB4D1;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
}

h1 {
    font-weight: bold;
    font-size: 30px;
}

input {
    width: 300px;
    height: 40px;
    outline: none;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #3AB4D1;
    font-size: larger;
    background-color: white;
    border-radius: 20px;
    padding: 20px 7%;
    margin-left: 10px;
}

.label1 {
    font-size: larger;
    padding-right: 10px;
    margin-right: 10px;

}

.label2 {
    font-size: larger;
    padding-right: 2px;
    margin-right: 2px;
    margin-left: -15px;
}

.qrcode {
    margin-left: 70px;
}